pybind11
appdirs
Brotli
cffi
contourpy
cssselect2
cycler
deepdiff
et-xmlfile
fonttools
html5lib
Jinja2
kiwisolver
llvmlite
Mako
MarkupSafe
matplotlib
networkx
numba
numpy
openpyxl
ordered-set
packaging
pandapower
pandas
pillow
pycparser
pydyf
pyparsing
pyphen
python-dateutil
pytz
scipy
shapely
six
tinycss2
tqdm
tzdata
weasyprint
webencodings
zopfli
